/*STYLES*/
.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.row{
	margin: 0;
	padding:0;
}
/*.grid-sizer {
  width: 25%;
  height: 110px;
}*/
/*header style*/
header {
	background-image: url(../img/header_bg.jpg);
	background-repeat: no-repeat;
	background-size: 159% 100%;
	background-position-x: 52%;
	height: 1060px;
}
header h1 {
	font-family: "existense light";
	font-size: 5em;
	text-align: center;
}
header .container {
	color: white;
}
header .container .row h1 span {
	color: #9e459a;
}
header .container .row h3 {
	font-family: "lato hairline";
	font-size: 2.5em;
	text-align: center;
}
header p{
	font-family: "lato hairline";
	font-size: 1.4em;
	padding: 0 130px 100px 130px;
	text-align: center;
}
header .svg_text {
	width: 100%;
	margin: 61% 0 0;
	text-align: center;
	position: absolute;
	color: white;
	font-size: 21px;
	font-family: "Lato-Regular";
}
header #scroll_btn{
	text-align: center;
}
/*header svg styles*/
header #services, header #portfolio, header #team, header #about, header #blog,header #contact{
	position: relative;
}
	/* header services button */

	header #services svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}
	header #services svg g g:first-child {
		fill: white;
		stroke: white;
		opacity: 1;
		transition: fill,stroke 0.15s linear;
	}
	header #services svg g:nth-child(2),g:nth-child(3) {
		fill: white;
		opacity: 1;
		transition: fill 0.15s linear;
	}
	header #services svg:hover g:first-child {
		fill: #9e459a;
		opacity: 1.0;
		transition: fill 0.15s linear;
	}

	header #services svg:hover g:nth-child(3) path {
		stroke: #9e459a;
		transition: stroke 0.15s linear;
	}
	header #services .svg_text:hover ~ svg g:first-child {
		fill: #9e459a;
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #services .svg_text:hover ~ svg g:nth-child(3) path {
		stroke: #9e459a;
		transition: stroke 0.15s linear;
	}
	/*portfolio button*/
	header #portfolio svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}
	header #portfolio svg g g:first-child {
		fill: white;
		stroke: white;
		opacity: 1;
		transition: stroke,fill 0.15s linear;
	}
	header #portfolio svg g g path{
		fill: white;
		transition: fill 0.15s linear;
	}
	header #portfolio svg g:nth-child(2),g:nth-child(3) {
		fill: white;
		opacity: 1;
		transition: fill 0.15s linear;
	}
	header #portfolio svg:hover g:first-child {
		fill: #9e459a;
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #portfolio svg:hover g:nth-child(2) path {
		stroke: #9e459a;
		transition: stroke 0.15s linear;
	}
	header #portfolio .svg_text:hover ~ svg g:first-child {
		fill: #9e459a;
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #portfolio .svg_text:hover ~ svg g:nth-child(2) path {
		stroke: #9e459a;
		transition: stroke 0.15s linear;
	}
	/*team button*/
	header #team svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}
	header #team svg:hover g:first-child {
		fill: #9e459a;
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #team svg:hover g:nth-child(2) path {
		stroke: #9e459a;
		transition: stroke 0.15s linear;
	}
	header #team .svg_text:hover ~ svg g:first-child {
		fill: #9e459a;
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #team .svg_text:hover ~ svg g:nth-child(2) path {
		stroke: #9e459a;
		transition: stroke 0.15s linear;
	}
	/*team about*/
	header #about svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}
	header #about svg:hover g:first-child path{
		fill: #9e459a;
		transition: fill 0.15s linear;
	}
	header #about svg:hover g:first-child {
		opacity: 1.0;
	}
	header #about svg:hover g:nth-child(2) path {
		stroke: #9e459a;
		opacity: 1.0;
		transition: stroke 0.15s linear;
	}
	header #about .svg_text:hover ~ svg g:first-child path{
		fill: #9e459a;
		transition: fill 0.15s linear;
	}
	header #about .svg_text:hover ~ svg g:first-child {
		opacity: 1.0;
	}
	header #about .svg_text:hover ~ svg g:nth-child(2) path {
		stroke: #9e459a;
		opacity: 1.0;
		transition: stroke 0.15s linear;
	}
	/*team blog*/
	header #blog svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}
	header #blog svg:hover g:first-child path{
		fill: #9e459a;
		transition: fill 0.15s linear;
	}
	header #blog svg:hover g:first-child {
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #blog svg:hover g:nth-child(2) path {
		stroke: #9e459a;
		opacity: 1.0;
		transition: stroke 0.15s linear;
	}
	header #blog .svg_text:hover ~ svg g:first-child path{
		fill: #9e459a;
		transition: fill 0.15s linear;
	}
	header #blog .svg_text:hover ~ svg g:first-child {
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #blog .svg_text:hover ~ svg g:nth-child(2) path {
		stroke: #9e459a;
		opacity: 1.0;
		transition: stroke 0.15s linear;
	}
	/*team blog*/
	header #contact svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}
	header #contact svg:hover g:first-child path{
		fill: #9e459a;
		transition: fill 0.15s linear;
	}
	header #contact svg:hover g:first-child {
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #contact svg:hover g:nth-child(2) path {
		stroke: #9e459a;
		opacity: 1.0;
		transition: stroke 0.15s linear;
	}
	header #contact .svg_text:hover ~ svg g:first-child path{
		fill: #9e459a;
		transition: fill 0.15s linear;
	}
	header #contact .svg_text:hover ~ svg g:first-child {
		opacity: 1.0;
		transition: fill 0.15s linear;
	}
	header #contact .svg_text:hover ~ svg g:nth-child(2) path {
		stroke: #9e459a;
		opacity: 1.0;
		transition: stroke 0.15s linear;
	}
	/*arrows */
	header #scroll_btn  svg g:first-child {
		fill: white;
		opacity: 0.55;
		transition: fill 0.15s linear;
	}

	header #scroll_btn  svg:hover g:first-child{
		fill: #9e459a;
		opacity: 1;
		transition: fill 0.15s linear;
	}
	header #scroll_btn  svg:hover g:nth-child(2) path{
		stroke: #9e459a;
		opacity: 1;
		transition: stroke 0.15s linear;
	}

/*nav style*/
nav p {
	font-family: "existense light";
	font-size: 32px;
	font-weight: 800;
}
nav .col-lg-7,nav .col-lg-5,.container{
	padding: 0;
	color: #676767;
}
nav .container p span{
	color: #9e459a;
}
nav .container .active{
	color: #9e459a;
}
.navigation {
	float: right;
	padding-top: 24px;

}
.navigation ul{
	list-style: none;
	font-family: "lato light";
	padding: 0;
	font-size: 19px;
	font-weight: bold;
}
.navigation li {
	display: inline-block;
	padding: 0 8px;
	text-transform: uppercase;
}
.navigation li a{
	text-decoration: none;
	color: #676767;
}
.navigation li a:hover{
	color: #9e459a;
}
nav .container .hidden-lg{
	display: none;
}
.sticky {
	top: 0;
	right: 0;
	left: 0;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(255, 255, 255, 0.9);;
}
/* Section Feature*/
.feature {
	font-family: "lato light";
	background-color: #eee;
	text-align: center;
	padding: 0 0 220px 0;
}
.feature_svg {
	padding: 160px 0 0 0;
}
.feature h3{
	font-size: 1.57em;
	font-weight: 500;
}
.feature p{
	font-size: 1.24em;
}
	/*feature SVGs*/
	/*build_with_love*/
	#build_with_love_svg g:first-child path{
		fill:transparent;
	}
	#build_with_love_svg g:nth-child(2) path{
		fill:none;
		stroke:#5D535C;
		transition: stroke 0.3s linear;
	}
	#build_with_love_svg g:nth-child(3) path{
		fill:#5D535C;
		stroke:#5D535C;
		transition: stroke,fill 0.6s linear;
	}
	#build_with_love_svg:hover g:first-child path{
		fill:transparent;
	}
	#build_with_love_svg:hover g:nth-child(2) path{
		fill:none;
		stroke:#9e459a;
	}
	#build_with_love_svg:hover g:nth-child(3) path{
		fill:#9e459a;
		stroke:#9e459a;
	}
	/*clean and modern*/
	#clean_and_modern_svg g:first-child path{
		fill:transparent;
	}
	#clean_and_modern_svg g:nth-child(2) path{
		fill:none;
		stroke:#5D535C;
		transition: stroke 0.3s linear;
	}
	#clean_and_modern_svg g:nth-child(3) path{
		fill:#5D535C;
		stroke:#5D535C;
		transition: stroke,fill 0.6s linear;
	}
	#clean_and_modern_svg:hover g:first-child path{
		fill:transparent;
	}
	#clean_and_modern_svg:hover g:nth-child(2) path{
		fill:none;
		stroke:#9e459a;
	}
	#clean_and_modern_svg:hover g:nth-child(3) path{
		fill:#9e459a;
		stroke:#9e459a;
	}
	/*easu to use*/
	#easy_to_use_svg g:first-child path{
		fill:transparent;
	}
	#easy_to_use_svg g:nth-child(2) path{
		fill:none;
		stroke:#5D535C;
		transition: stroke 0.3s linear;
	}
	#easy_to_use_svg g:nth-child(3) path{
		fill:#5D535C;
		stroke:#5D535C;
		transition: stroke,fill 0.6s linear;
	}
	#easy_to_use_svg:hover g:first-child path{
		fill:transparent;
	}
	#easy_to_use_svg:hover g:nth-child(2) path{
		fill:none;
		stroke:#9e459a;
	}
	#easy_to_use_svg:hover g:nth-child(3) path{
		fill:#9e459a;
		stroke:#9e459a;
	}
		/*easu to use*/
	#fully_responsive_svg g:first-child path{
		fill:transparent;
	}
	#fully_responsive_svg g:nth-child(2) path{
		fill:none;
		stroke:#5D535C;
		transition: stroke 0.3s linear;
	}
	#fully_responsive_svg g:nth-child(3) path{
		fill:#5D535C;
		stroke:#5D535C;
		transition: stroke,fill 0.6s linear;
	}
	#fully_responsive_svg:hover g:first-child path{
		fill:transparent;
	}
	#fully_responsive_svg:hover g:nth-child(2) path{
		fill:none;
		stroke:#9e459a;
	}
	#fully_responsive_svg:hover g:nth-child(3) path{
		fill:#9e459a;
		stroke:#9e459a;
	}
/*Shitty Button*/
.shitty_button_top {
	width: 20px;
	border-top: 1px solid #9e459a;
	float: right;
	display: block;
	position: static;
	height: 1px;
}
.shitty_button_right {
	margin-right: -20px;
	height: 20px;
	width: 1px;
	border-right: 1px solid #9e459a;
	float: right;
	display: block;
	position: static;
}
.shitty_button_left {
	height: 20px;
	width: 1px;
	border-left: 1px solid #9e459a;
	float: left;
	display: block;
	position: static;
}
.shitty_button_bottom {
	height: 1px;
	width: 20px;
	border-bottom: 1px solid #9e459a;
	float: left;
	display: block;
	position: static;
	margin: 19px 0px 0px -1px;
}
/*Section About Us*/
.main_about_us {
	width: 266px;
	height: 113px;
	margin: 115px auto 136px;
	text-align: center;
	padding-top: 18px;
	font-size: 3em;
	font-family: "existense light";
	font-weight: 800;
}
.main_about_us p {
	margin: 0px 0px 0px 0px;
	padding: 18px 0 0 0;
}
.learn_more {
	margin: 130px 0 0 0;
	background-color: #9e459a;
	color: white;
	width: 228px;
	height: 71px;
	border-radius: 9px;
	box-shadow: 0px 4px 0px rgba(0,0,0,0.5);
	border: 0;
	font-family: "lato light";
	font-size: 1.5em;
	font-weight: 800;
	-webkit-transition-duration: 0.5s; 
	-o-transition-duration: 0.5s; 
	-moz-transition-duration: 0.5s; 
	transition-duration: 0.5s;
}
.learn_more:hover{
	background-color: #773d75;
}
.about_us_p{
	line-height: 2.5em;
}
.about_us img{
	width: 100%;
}
section#about_us_section {
	padding-bottom: 230px;
}
/*Section Quote*/
.quote {
	height: 667px;
	background-image: url(../img/Quote_bg.jpg);
	background-size: 100% 100%;
	padding-top: 150px;
	text-align: center;
	font-family: "lato light";
	font-size: 3em;
	font-weight: 500;
}
.quote p {
	color: white;
}
		/*education*/
	#education_svg g:first-child path{
		fill:transparent;
	}
	#education_svg g:nth-child(2) {
		opacity: 1;
	}
	#education_svg g:nth-child(2) path{
		fill:none;
		stroke:#fff;
		transition: stroke 0.3s linear;
	}
	#education_svg g:nth-child(3) path{
		fill:#fff;
		stroke:#fff;
		transition: stroke,fill 0.6s linear;
	}
/*  #education_svg:hover g:first-child path{
		fill:transparent;
	}
	#education_svg:hover g:nth-child(2) path{
		fill:none;
		stroke:#9e459a;
	}
	#education_svg:hover g:nth-child(3) path{
		fill:#9e459a;
		stroke:#9e459a;
	}*/

/* Section Team */
.team {
}

.team p{
	text-align: center;
}
.team_img_rounded{
	text-align: center;
	font-family: "Lato-Bold";
}
.team_img_rounded img{
	border-radius: 50%;
}
.team_img_rounded .img-responsive {
    margin: 0 auto;
}
.team_arrow_wrapper {
	padding: 0 0 156px 0;
}
.team_img_rounded p{
	text-transform: uppercase;
	font-size: 1.75em;
	padding: 80px 0 0 0;
}
.team_description {
	font-size: 1.25em;
	font-family: "Lato-Regular";
	color: #989898;
	display: block;
	padding: 0 0 25px 0;
}
.team_social {
	font-family: 'Titillium Web', sans-serif !important;
	font-size: 1.5em !important;
	display: inline-block;
	height: 50px;
	width: 50px;
	border: 1px solid #989898;
	border-radius: 50%;
	padding: 5px 0 0 0;
}
.team-left-grid
{
	text-align:center;
	position:relative;
}
.team-left-grid img
{
	border-radius:50%;
	margin-bottom: 15%;
}
.team-left-grid h2
{
	color:#484848;
	font-family: 'Lato', sans-serif;
	font-size: 26px;
}
.team-left-grid p
{
	color:#B6B6B6;
	font-family: 'Lato', sans-serif;
	font-weight:400;
	font-size:18px;     
	margin-bottom: 7%;
}
div#owl-demo1 {
	padding: 0px 15px;
}
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	margin: 134px 0 0 0;
	padding: 0px 0px;
	font-size: 10px;
	width: 83px;
	height: 85px;
}
.owl-next{

	position: absolute;
	right: 46%;
	top: -57%;
	left:50%;
}
.owl-prev{

	position: absolute;
	right: 51%;
	top: -57%;
}
.item {
    text-align: center;
    text-align: -webkit-center;
}
/*--- team-icons ----*/
.team-icon-grid
{
	text-align:center;
	width: 34%;
	margin: 0 auto;
}
.f-icon
{
	text-align:center;
	width:48px;
	height:47px;
	display:inline-block;
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	cursor:pointer;
}
.f-icon:hover
{
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
.g-icon
{
	text-align:center;
	width:48px;
	height:47px;
	display:inline-block;
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	cursor:pointer;
}
.g-icon:hover
{
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	transition:0.5s;
	-webkit-transition:0.5s;
	-moz-transition:0.5s;
	-o-transition:0.5s;
	-ms-transition:0.5s;
}
/*--- team-icons ----*/
.team-left-grid span
{
	width: 48px;
	height: 47px;
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	position:absolute;
	top: 107%;
	right: 55%;
}
.team-left-grid span:hover
{
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	position:absolute;
	transition:0.4s;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	-ms-transition:0.4s;
}
.team-left-grid small
{
	width: 48px;
	height: 47px;
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	position:absolute;
	top: 107%;
	right: 34%;
}
.team-left-grid small:hover         
{
	background:url(http://placehold.it/600x300) no-repeat 0px 0px;
	position:absolute;
	transition:0.4s;
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	-o-transition:0.4s;
	-ms-transition:0.4s;
}

	/*arrows */
	.arrow  svg g:first-child {
		fill: white;
		opacity: 0.55;
	}

	.arrow  svg:hover g:first-child{
		fill: #9e459a;
		opacity: 1;
	}
	.arrow  svg:hover g:nth-child(2) path{
		stroke: #9e459a;
		opacity: 1;
	}

	.arrow_team  svg g:first-child {
		fill: white;
		opacity: 0.55;
	}
	.arrow_team  svg:hover g:first-child{
		fill: #9e459a;
		opacity: 1;
	}
	.arrow_team  svg:hover g:nth-child(2) path{
		stroke: #fff;
		opacity: 1;
	}
	.arrow_team  svg:hover g:nth-child(3) line{
		stroke: #fff;
		opacity: 1;
	}

/*SECTION SKILLS*/
.skills {
	font-family: "HelveticaNeueLTStd-Bd";
	padding-bottom: 90px;
}
.skill_wrap {
	padding: 0 35px 55px 20px;
}
.skills_title {
	text-transform: uppercase;
	display: block;
	float:left;
	font-size: 1.75em;
}
.skills_percentage {
	display: block;
	float: right;
	font-size: 1.75em;
}
.skill_bar {
	height: 20px;  /* Can be anything */
	position: relative;
	background: #f0f0f0;
	margin: 30px 0 0 0;
}
.skill_bar span {
  display: block;
  height: 100%;
  background-color: #9e459a;
}
/* SECTION Testimonials */
#testimonials {
	padding: 120px 15px 110px 15px;
	font-family: "HelveticaNeueLTStd-Lt";
	background-color: #f0f0f0;
}
.Testimonials_some_info {
	text-align: center;
}
.Testimonials_some_info .number{
	font-size: 5em;
	color: #3a3a3a;
}
.Testimonials_some_info p{
	font-size: 1.2em;
	color: #777;
}
#Testimonials_slider {
	text-align: center;
	padding: 110px 135px 100px;
	margin-left: 30px;
}

#Testimonials_slider .testimonials_quote{
	font-family: "HelveticaNeueLTStd-Lt";
	font-size: 2.2em;
	color: #4b4b4b;
}
#Testimonials_slider p{
	font-family: "HelveticaNeueLTStd-BdCn";
	font-size: 1.5em;
	color: #777;
}
.upper { 
	display: block;
	margin: 100px auto;
}
.testimonials_wrapper {
	position: absolute;
	text-align: center;
	width: 100%;
	height: 100%;
}
.testimonials_wrapper img {
    border-radius: 50%;
    margin-top: 75px;
}
.testimonial_name {
	text-transform: uppercase;
}

/* jssor slider bullet navigator skin 05 css */
	/*
	.jssorb05 div           (normal)
	.jssorb05 div:hover     (normal mouseover)
	.jssorb05 .av           (active)
	.jssorb05 .av:hover     (active mouseover)
	.jssorb05 .dn           (mousedown)
	*/
	.jssorb05 {
		position: absolute;
		left: 397px !important;
	}
	.jssorb05 div, .jssorb05 div:hover {
		position: absolute;
		/* size of bullet elment */
		width: 16px;
		height: 16px;
		overflow: hidden;
		cursor: pointer;
		border-radius: 50%;
		border: 1px #4b4b4b solid;
	}
	.jssorb05 .av {
		background-color: #4b4b4b;
	}
	.jssorb05 div { background-position: -7px -7px; }
	.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
	.jssorb05 .av { background-position: -67px -7px; }
	.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

	/* jssor slider arrow navigator skin 12 css */
	/*
	.jssora12l                  (normal)
	.jssora12r                  (normal)
	.jssora12l:hover            (normal mouseover)
	.jssora12r:hover            (normal mouseover)
	.jssora12l.jssora12ldn      (mousedown)
	.jssora12r.jssora12rdn      (mousedown)
	*/
	.jssora12l, .jssora12r {
		display: block;
		position: absolute;
		/* size of arrow element */
		width: 30px;
		height: 46px;
		cursor: pointer;
		background: url('../img/a12.png') no-repeat;
		overflow: hidden;
	}
	.jssora12l { background-position: -16px -37px; }
	.jssora12r { background-position: -75px -37px; }
	.jssora12l:hover { background-position: -136px -37px; }
	.jssora12r:hover { background-position: -195px -37px; }
	.jssora12l.jssora12ldn { background-position: -256px -37px; }
	.jssora12r.jssora12rdn { background-position: -315px -37px; }

/*SECTION PORTFOLIO*/
.portfolio {
	background-color: white;
	margin: -56px -20px 0 -20px;
	text-align: center;
}
.portfolio .main_about_us {
	width: 339px;
	height: 113px;
	margin: 115px auto 136px;
}
.portfolio .main_about_us p {
	margin: 0px 0px 0px 0px;
	padding: 30px 0 12px 0;
}
.portfolio_navigation {
	text-align: center;
	padding: 0 0 70px 0;
}
.portfolio_navigation ul{
	list-style: none;
	font-family: "HelveticaNeueLTStd-Lt";
	text-transform: uppercase;
	color: black;
	padding: 0;
}
.portfolio_navigation li{
	display: inline-block;
	font-size: 1.5em;
	height: 40px;
	padding: 4px 25px 0;
	border-radius: 5px;
	border: 1px black solid;
}
.portfolio_navigation li:hover{
	color: white;
	background-color: #9e459a;
	cursor: pointer;
}
.portfolio_navigation li a{
	text-decoration: none;
	color: black;
}
.portfolio_navigation li:hover a{
	color: white;
}
.portfolio_wrap {
	padding: 0 40px;
}
.portfolio_wrap .learn_more{
	margin-top: 70px;
}
.portfolio_grid {
	font-family: "HelveticaNeueLTStd-Lt";
	font-size: 1.5em;
/*	width: 22%;
	height: 110px;*/
}
.portfolio_grid span{
	font-size: 0.8em;
	color: #8D8989;
}
.portfolio_grid img {
	width: 100%;
}
.portfoliolist div{
	text-align: center;
	margin: 0 0 10px 0;
	padding: 0 15px;
}

.portfoliolist {
	margin: 0 0 0 0;
}
.isotope-item {
	z-index: 2;
}
.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
/*GET IN TOUCH*/
.getintouch {
    font-family: "HelveticaNeueLTStd-Lt";
}
.get_in_touch .main_about_us {
    width: 329px;
    height: 113px;
    margin: 190px auto 170px;
}
.get_in_touch form input {
	min-height: 70px;
	width: 100%;
	padding: 0 15px 0 30px;
	font-size: 1.5em;
	margin: 1px 0 20px 0;
	border: 1px solid;
}
.get_in_touch form p{
	margin: 8px 0 0 0;
}
.get_in_touch #message {
	min-height: 280px;
	font-family: "HelveticaNeueLTStd-Lt";
	font-size: 1.5em;
	width: 100%; 
	padding: 15px 15px 0 30px;
	border: 1px solid;
}
.get_in_touch .learn_more{
	margin: 36px 0 72px 0;
}
.get_in_touch .team_social {
	text-align: center;
}
.get_in_touch .adress {
	font-family: "HelveticaNeueLTStd-BdCn";
}
.get_in_touch .info {
	font-size: 1.5em;
	margin: 0;
}
.get_in_touch .about {
	padding: 0 30px;
}
.get_in_touch .adress {
	font-size: 1.5em;
}
.team-left-grid
{
    text-align:center;
    position:relative;
}
.team-left-grid img
{
    border-radius:50%;
    margin-bottom: 15%;
}
.team-left-grid h2
{
    color:#484848;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
}
.team-left-grid p
{
    color:#B6B6B6;
    font-family: 'Lato', sans-serif;
    font-weight:400;
    font-size:18px;     
    margin-bottom: 7%;
}
/* FOOTER */
footer h1 {
	font-family: "existense light";
	font-size: 4.0em;
}
footer h1 span {
	color: #9e459a;
}
footer {
	margin: 160px 0 0 0;
	text-align: center;
}
.centered {
	text-align: center;
}
/* OWL */

.owl-carousel {
    margin: 4em  auto !important;
}
/*MEDIA QR*/
@media(max-width:320px){

	.get_in_touch .main_about_us {
	    width: 232px;
	    height: 64px;
	    margin: 98px auto 170px;
	}
	.main_about_us {
	    font-size: 2em;
	}
	.owl-theme .owl-controls .owl-buttons div {
	    margin: -88px 0 0 0 !important;
	}
	.owl-next .arrow_team{
		padding-left: 15px;
	}

}
@media(max-width:423px){
	.owl-theme .owl-controls .owl-buttons div {
		margin: 0 0 0 0;
	}
}
@media screen and (max-width:767px){
	header {
		background-size: 464% 104% !important;
		background-position-x: 49% !important;
		background-color: #342951;
		height: 850px !important;
	}
	header h1{
		font-size: 3em;
	}
	header .container .row h3 {
		font-size: 1.5em;
	}
	header p {
		font-size: 1.4em;
		padding: 0 !important;
	}
	header .container svg {
		width: 156px !important;
		height: 163px !important;
		margin: 0 0 13px 0;
	}
	header .container .svg_text {
		font-size: 1.2em !important;
	}
	.owl-theme .owl-controls .owl-buttons div {
		margin: 251px 0 0 0;
	}
	.hidden-sm{
		display: none;
	}
	.feature_wrapper svg {
		width: 156px !important;
		height: 163px !important;
	}
	.feature_svg {
	    padding: 60px 0 0 0;
	}
	.feature {
	    padding: 0 0 50px 0;
	}
	.skills_title {
	    font-size: 1.25em;
	}
	.learn_more {
		font-size: 2.7em;
		width: 100%;
		height: 100px;
	}
	.main_about_us {
		margin: 50px auto;
	}
}
@media (max-width: 768px){
	.owl-carousel {
	    margin: 3em auto;
	}
}

@media(min-width:768px){

}
@media(max-width:991px){
	header{
		background-size: 207% 100%;
		background-position-x: 52%;
		height: 1450px;
	}
	header a{
		display: block;
		text-align: center;
	}
	header svg {
		width: 277px !important;
		height: 287px !important;
		margin: 0 0 21px 0;
	}
	header .svg_text {
		font-size: 2.5em !important;
	}
	header p {
		font-size: 1.4em;
		padding: 0 130px 44px 130px;
	}
	header #scroll_btn {
		display: none;
	}
	header #scroll_btn svg{
		height: 140px;
		width: 133px;
	}
	.hidden-sm{
		display: none;
	}
	nav .container .col-sm-12 {
		text-align: center;
	}
	nav p {
		font-size: 56px;
		margin: 20px 0 0 0;
	}
	section#about_us_section {
	    padding-bottom: 50px;
	}
	.about_us {
		text-align: center;
	}
	.learn_more {
		margin: 50px 0 0 0;
	}
	.about_us_p {
		margin-top: 35px;
	    line-height: 2em;
	    font-size: 1.2em;
	    font-weight: 500;
	}
	.feature_wrapper svg {
	    height: 277px;
	    width: 287px;
	}
}
@media(max-width:1200px){
	header svg{
		width: 150px;
		height: 160px;
	}
	header .svg_text {
		font-size: 1.5em;
	}
	header #scroll_btn svg{
		height: 92px;
		width: 90px;
	}
/*	.portfolio_grid img {
	    width: 83%;
	}*/
}
/*FONTS*/
@font-face {
  font-family: "existense light";
  src: url("../fonts/Existence-Light.otf");
}

@font-face {
  font-family: "lato hairline";
  src: url("../fonts/Lato-Hairline.ttf");
}

@font-face {
  font-family: "lato light";
  src: url("../fonts/Lato-light.ttf");
}

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}
@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
	font-family: "HelveticaNeueLTStd-Bd";
	src: url("../fonts/HelveticaNeueLTStd-Bd.otf");
}
@font-face {
	font-family: "HelveticaNeueLTStd-Lt";
	src: url("../fonts/HelveticaNeueLTStd-Lt.otf");
}
@font-face {
	font-family: "HelveticaNeueLTStd-BdCn";
	src: url("../fonts/HelveticaNeueLTStd-BdCn.otf");
}

.h{
	width: 500px;
	height: 800px;
	padding:50px;
	font-size: 40px;
	color: #fff;
	text-shadow: 0 1px 0 #ccc,
	0 2px 0 #c9c9c9,
	0 3px 0 #bbb,
	0 4px 0 #b9b9b9,
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px rgba(0,0,0,.25),
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15),;
}
